.wrapper {
    margin-top: 1rem;
}

.input {
    padding: 1rem 1.5rem;
    border-radius: 4px 0 0 4px;
    border: 1px solid #d8dddb;
    border-right: none;
}

.searchBtn {
    border-radius: 0 4px 4px 0;
    border: 1px solid #00C763
}